@if (Request.IsAuthenticated) {
    <ul id="main-menu-right" class="nav pull-right">
        <li>@Html.ActionLink(User.Identity.Name, "ChangePassword", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Change password" })</li>
        <li>@Html.ActionLink("Log off", "LogOff", "Account")</li>
    </ul>
}
else
{
    <ul id="main-menu-right" class="nav pull-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", data_dialog_title = "Registration" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", data_dialog_title = "Identification" })</li>
    </ul>
}