#ignore thumbnails created by windows
Thumbs.db

#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.csproj.user

# vim swap files and backup files
.*.swp
.*.swo
*~

# emacs backups
.#*.*
MPCC/Rest/Web.config
MPCC/Connect/obj/Debug/Connect.csproj.FileListAbsolute.txt
MPCC/Connect/obj/Debug/Connect.dll
MPCC/Connect/Web.config
MPCC/MPCC.suo
MPCC/Rest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MPCC/Rest/obj/Debug/Rest.dll
.gitignore
MPCC/Connect/obj/Debug/Connect.dll
MPCC/Connect/obj/Debug/Connect.pdb
MPCC/Connect/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MPCC/MPCC.suo
MPCC/Rest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MPCC/Rest/obj/Debug/Rest.csproj.FileListAbsolute.txt
MPCC/Rest/obj/Debug/Rest.dll
MPCC/Rest/obj/Debug/Rest.pdb