_ReSharper*/
MPCC/_ReSharper.MPCC/
MPCC/MPCC.suo
MPCC/Rest/Bin/
MPCC/Rest/obj/Debug
MPCC/ConnectASPX/bin/Castle.Core.dll
MPCC/ConnectASPX/bin/Castle.Core.xml
MPCC/ConnectASPX/bin/ConnectASPX.dll
MPCC/ConnectASPX/bin/ConnectASPX.pdb
MPCC/ConnectASPX/bin/FluentNHibernate.dll
MPCC/ConnectASPX/bin/FluentNHibernate.pdb
MPCC/ConnectASPX/bin/FluentNHibernate.xml
MPCC/ConnectASPX/bin/Iesi.Collections.dll
MPCC/ConnectASPX/bin/Iesi.Collections.pdb
MPCC/ConnectASPX/bin/Iesi.Collections.xml
MPCC/ConnectASPX/bin/NHibernate.ByteCode.Castle.dll
MPCC/ConnectASPX/bin/NHibernate.ByteCode.Castle.pdb
MPCC/ConnectASPX/bin/NHibernate.ByteCode.Castle.xml
MPCC/ConnectASPX/bin/NHibernate.dll
MPCC/ConnectASPX/bin/NHibernate.pdb
MPCC/ConnectASPX/bin/NHibernate.xml
MPCC/ConnectASPX/bin/Rest.dll
MPCC/ConnectASPX/bin/Rest.pdb
MPCC/ConnectASPX/bin/System.Web.Providers.dll
MPCC/ConnectASPX/obj/Debug/ConnectASPX.csproj.FileListAbsolute.txt
MPCC/ConnectASPX/obj/Debug/ConnectASPX.csprojResolveAssemblyReference.cache
MPCC/ConnectASPX/obj/Debug/ConnectASPX.dll
MPCC/ConnectASPX/obj/Debug/ConnectASPX.pdb
