<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=IN3710;Initial Catalog=MPCC_Connect;Integrated Security=SSPI" providerName="System.Data.SqlClient" />    
    </connectionStrings>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
        </staticContent>
        <!--<handlers>
            <add name="HTML" path="*.html" verb="GET, HEAD, POST, DEBUG" type="System.Web.UI.PageHandlerFactory" resourceType="Unspecified" requireAccess="Script"  preCondition="integratedMode"  />
            <add name="HTM" path="*.htm" verb="GET, HEAD, POST, DEBUG" type="System.Web.UI.PageHandlerFactory" resourceType="Unspecified" requireAccess="Script"  preCondition="integratedMode"  />
        </handlers>-->
    </system.webServer>    
    <system.web>
        <authentication mode="Forms">
            <forms loginUrl="index.html" timeout="60" />
        </authentication>        
        <authorization >
            <deny users="?"  />
            <allow users="*"  />
        </authorization>
        <membership defaultProvider="MyADMembershipProvider">
            <providers>
                <add name="SqlProvider" type="System.Web.Security.ActiveDirectoryMembershipProvider" connectionStringName="DefaultConnection" applicationName="Mpcc_Connect" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" passwordAttemptWindow="10" />
            </providers>
        </membership>
        
        
        <compilation debug="true">
            <buildProviders>
                <add extension=".html" type="System.Web.Compilation.PageBuildProvider" />
                <add extension=".htm" type="System.Web.Compilation.PageBuildProvider" />
            </buildProviders>

        </compilation>
    </system.web>
    <location path="index.html">
        <system.web>
            <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="js/signin.js">
        <system.web>
            <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
    </location>
</configuration>