<div class="extra">
    <div class="extra-inner">
        <div class="container">
            <div class="row">
                <div class="span3">
                    <h4>
                        <i class="icon-group"></i> Adults</h4>
                    <ul>
                        <li><a href="javascript:;">Men</a></li>
                        <li><a href="javascript:;">Women</a></li>
                        <li><a href="javascript:;">Singles</a></li>
                        <li><a href="javascript:;">Active Adults</a></li>
                        <li><a href="javascript:;">Keenagers</a></li>
                    </ul>
                </div>
                <div class="span3">
                    <h4>
                        <i class="icon-book"></i> Students</h4>
                    <ul>
                        <li><a href="javascript:;">fifty-six (5th - 6th grades)</a></li>
                        <li><a href="javascript:;">seventy8 (7th - 8th grades)</a></li>
                        <li><a href="javascript:;">High School</a></li>
                        <li><a href="javascript:;">Feedback</a></li>
                    </ul>
                </div>
                <div class="span3">
                    <h4>
                        <i class="icon-github"></i> Children</h4>
                    <ul>
                        <li><a href="javascript:;">Bibleopolis</a></li>
                    </ul>
                </div>
                <div class="span3">
                    <h4>
                        <i class="icon-briefcase"></i> Congegational Care</h4>
                    <ul>
                        <li><a href="javascript:;">Greif Share &amp; Grace Groups</a></li>
                        <li><a href="javascript:;">Divorce Care </a></li>
                        <li><a href="javascript:;">Couples In Christ</a></li>
                        <li><a href="javascript:;">Financial Peace University</a></li>
                        <li><a href="javascript:;">Employment Networking</a></li>
                        <li><a href="javascript:;">Wings of Hope Cancer Ministry</a></li>
                    </ul>
                </div>
                <div class="span3">
                    <h4>
                        <i class="icon-bell"></i> Worship</h4>
                    <ul>
                        <li><a href="javascript:;">Worship &amp; Arts</a></li>
                        <li><a href="javascript:;">Worship Programming </a></li>
                    </ul>
                </div>
                <div class="span3">
                    <h4>
                        <i class="icon-heart-empty"></i> Sports &amp; Wellness</h4>
                    <ul>
                        <li><a href="javascript:;">Youth Sports</a></li>
                        <li><a href="javascript:;">Adult Sports</a></li>
                        <li><a href="javascript:;">Welness</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="footer-inner">
        <div class="container">
            <div class="row">
                <div class="span12">
                    &copy; 2012 <a href="http://mpcc.info">MPCC</a>.
                </div>
            </div>
        </div>
    </div>
</div>
